$menus-buttons-bg: #77CCE07F;

.class-room {
  height: 100vh;
  display: flex;
  flex-direction: column;

  .waiting-screen-class-room-wrapper {
    position: relative;
    height: 100%;

    .class-room-wrapper {
      position: relative;
      height: 100%;
      display: flex;
      overflow: hidden;
    }
  }
}


// PICKERS BUTTONS

$transparent-dark: #ccc3;
$button-text-color: white;
$button-background-color-levels: #688b73;
$button-background-color-students: #406f6f;
//$menus-buttons-bg: #77CCE07F;
$menus-buttons-bg: #e5dec1;

.button-holder {
  position: relative;
  right: -1em;
  clip-path: polygon(0% 10%, 1% 9%, 3% 8%, 100% 0%, 100% 100%, 3% 90%, 1% 89%, 0% 88%);
  width: 1em;
  height: 8em;
  display: flex;
  padding: 20px 20px 20px 20px;
  cursor: pointer;
  user-select: none;

  &.levels {
    background: $button-background-color-levels;

  }

  &.students {
    background: $button-background-color-students;

  }

  .button {
    position: relative;
    left: -.5em;

    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    writing-mode: vertical-lr;
    text-orientation: mixed;


    padding: 15px 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
  }
}

// AREAS
.video-wrapper {
  height: 100%;
  width: 30%;
}

.canvas-area {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  position: relative;
}

// PICKERS
$menu-bg: rgba(204, 243, 255, 0.24);
$menu-items: rgb(91, 151, 164);

.pickers {
  width: 3.5em;
  display: flex;
  position: relative;

  .item-picker {
    visibility: hidden;
    transition: visibility 0s ease-in-out .5s;

    position: absolute;
    width: calc(100vw - 3.5em);
    height: 100%;
    right: 3.5em;
    z-index: 100;

    .picker-area {
      display: flex;
      height: 100%;
      width: 100%;
      justify-content: flex-end;

      .picker-menu-bg {
        opacity: 0;
        transition: opacity .5s ease-in-out;

        z-index: 100;
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        background: $menu-bg;
      }

      .picker-items {
        z-index: 200;
        position: relative;
        left: 100%;
        transition: left .5s ease-in-out;

        border-left: 2px solid #ccc;
        box-shadow: 3px 6px 20px 10px rgba(86, 86, 86, 0.65);

        height: 100%;
        width: 30%;
        background: $menu-items;
      }
    }

    &.open {
      visibility: visible;
      transition: visibility 0s ease-in-out;

      .picker-area {

        .picker-menu-bg {
          opacity: 1;

        }

        .picker-items {
          left: 0;

        }
      }
    }
  }

  .menus-buttons {
    z-index: 200;

    width: 3.5em;
    background: $menus-buttons-bg;
    height: 100%;
  }
}

// PICKER ITEMS
.item-picker {

  .item-wrapper {
    width: 100%;
    cursor: pointer;
    background: #e87373;

    .item {
      color: #343a40;
    }

    &:hover {
      background: #e8e673;
    }
  }

  .item-wrapper.slide {
    padding: .1em;

    .img-wrapper {
      width: 100%;

      img {
        display: block;
        width: 100%;
      }
    }

    .item {
      color: #343a40;
    }

    &:hover {
      background: #e8e673;
    }

    &.empty {
      padding: 2px;
      height: 10em;
      display: flex;

      .content {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #eee;
        height: 100%;
        width: 100%;

      }
    }
  }
}

@media (max-width: 1300px) {
  .class-room-wrapper {
    display: flex;
    flex-direction: column;

    .video-wrapper {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 30%;

      .video {
        width: 50%;
        height: 100%;
      }
    }

    .canvas-area {
      height: 50%;

      //.tip-area{
      //  position: fixed;
      //  right: 0;
      //}
    }

    .pickers {
      position: fixed;
      right: 0;
      height: 70%;
    }
  }

}

@media (max-width: 900px) {
  .class-room-wrapper {
    .tip-area{
      height: auto;
    }
    .pickers {
      position: fixed;
      right: 0;
      top: 30%;
      height: 70%;

      .menus-buttons{
        overflow-y: scroll;
        overflow-x: hidden;

      }
    }
  }

}

