$menus-holder-bg: #77CCE07F;

.class-room {
  height: 100vh;
  display: flex;
  flex-direction: column;

  .class-room-wrapper {
    position: relative;
    display: flex;
    height: 100%;
    overflow: hidden;

    .menus-holder {
      position: relative;
      top: 0;
      right: 0;
      width: 3.5em;
      background: $menus-holder-bg;
    }
  }


}