$transparent-dark: #ccc3;
$button-text-color: white;
$button-background-color: green;
$menus-holder-bg: #77CCE07F;

.lesson-picker {
  position: relative;

  display: flex;

  .button-holder {
    position: relative;
    right: -1em;
    background: $button-background-color;
    clip-path: polygon(0% 10%, 1% 9%, 3% 8%, 100% 0%, 100% 100%, 3% 90%, 1% 89%, 0% 88%);
    width: 1em;
    height: 8em;
    display: flex;
    padding: 20px 20px 20px 20px;
    cursor: pointer;
    user-select: none;

    .button {
      position: relative;
      left: -.5em;

      font-family: 'Roboto', sans-serif;
      font-size: 1.2em;
      font-weight: bold;
      text-align: center;
      writing-mode: vertical-lr;
      text-orientation: mixed;


      padding: 15px 0;
      margin: 0;
      box-sizing: border-box;
      color: white;
      cursor: pointer;
    }
  }

  .picker-area {
    width: 0;
    overflow: hidden;
    background: white;
    display: flex;

    .bg {
      background: $transparent-dark;
      flex: 3;
    }

    .lessons {
      background: #333;
      flex: 1;
    }

    .menu-bg {
      display: none;
      width: 3.5em;
      background: $menus-holder-bg;
    }
  }

  &.open {
    right: 0;

    .picker-area {
      position: fixed;
      left: 0;
      height: 100%;
      width: 100vw;

      .bg {

      }

      .lessons {

      }

      .menu-bg {
        display: block;
      }
    }
  }

  &.hidden {
    display: none;
  }
}
