$main: #ddd;
$compass-primary: #fa752a;
$compass-secondary: #ee8d5c;

header {
  width: 100%;
  height: 70px;
  background: $main;
  display: flex;
  justify-content: space-between;

  .logo{
    width: 70px;
    padding: 5px;
  }

  #logoutBtn {

  }
}