#abacus-holder {
  text-align: center;
  width: 115px;
  height: 170px;
  position: absolute;
  
  .cursor{
    cursor: pointer;
  }

  #abacus {
    //border-bottom: 5px solid wheat;
    margin: auto;
    position: absolute;
    width: 100%;
    display: block;

    &:after{
      display: block;
      content: '';
      width: 100%;
      height: 5px;
      position: relative;
      bottom: 0;
      background-color: wheat;
    }

    tbody{
      display: flex;
      justify-content: space-around;
    }
  }

  tr {
    background-color: wheat;
    border: 1px solid tan;
    height: 85px;
    width: 6px;
    padding-top: 100px;
  }

  td {
    margin-left: -8px;
    height: 15px;
    width: 20px;
    position: relative;
    background-color: red;
    display: block;
    border-radius: 15px;
    -webkit-box-shadow: inset 10px 10px 8px -5px rgba(252,171,171,0.6), inset -10px -10px 8px -6px rgba(176,65,65,0.91);
    -moz-box-shadow: inset 10px 10px 8px -5px rgba(252,171,171,0.6), inset -10px -10px 8px -6px rgba(176,65,65,0.91);
    box-shadow: inset 10px 10px 8px -5px rgba(252,171,171,0.6), inset -10px -10px 8px -6px rgba(176,65,65,0.91);
  }
}
