$main: #cbc47b;
$main-two: #c9c6a5;
$compass-primary: #fa752a;
$sign-out-color: #ef2f5a;

header {
  width: 100%;
  height: 80px;
  background: linear-gradient( to right, $main-two, $main, $main-two);

  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;

  .logo {
    height: 100%;

    .logo-icon {
      height: 100%;
      position: relative;

      img {
        position: relative;

        z-index: 200;
        height: 100%;
      }

      &:after{
        z-index: 0;
        display: block;
        content: '';

        position: absolute;
        left: 0;
        top: 0;

        box-sizing: border-box;
        margin: .75em;

        width: 70%;
        height: 70%;

        background: white;
        border-radius: 50%;
      }

    }
  }

  .logout {

    #logoutBtn {
      cursor: pointer;
      color: $sign-out-color;
      width: 100%;
      height: 100%;
      padding: .5em;
      box-sizing: border-box;

      svg {
        width: 3em;
        height: 3em;
      }
      &:hover{
        transform: scale(1.1);
      }

    }

  }
}