$item-color: #438bab;

.inline-color-picker-wrapper {
  position: relative;

  .p-item-picker-wrapper {
    display: flex;
    bottom: 100%;
    width: calc(100% - 2px);
    z-index: 500;

    .p-item-wrapper {
      margin: .5em;
      box-sizing: border-box;
      cursor: pointer;

      &.active {
        .p-item {
          border: 2px solid #0b76ef;
        }
      }

      .p-item {
        height: 2em;
        width: 2em;
        box-sizing: border-box;
        display: flex;
        border-radius: 50%;
        box-shadow: 1px 3px 20px 1px $item-color;

        &.red {
          background: red;
        }

        &.blue {
          background: blue;
        }

        &.yellow {
          background: yellow;
        }

        &.green {
          background: green;
        }

        &.black {
          background: black;
        }

        &.grey {
          background: grey;
        }

        &:hover {
          transform: scale(1.1);
        }
      }

    }
  }

}


