// TIP AREA
$tip-bg: #91a999;
$tip-color: #232323;
$tip-text-bg: #efda7f;

.tip-area {
  height: 10%;
  background-color: $tip-bg;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  .tip-text {
    background-color: $tip-text-bg;
    padding: 0;

    p {
      font-family: 'Roboto', sans-serif;
      color: $tip-color;
      margin: 0;
      padding: .5em 1.5em;
      font-size: 1.2em;
    }
  }
}

// CANVAS
$canvas-bg-color: #6b9b92;
$canvas-bg-color-two: #77a28f;
$canvas-border-color: #2d5a55;
$canvas-border-color-two: #4b6c62;
$canvas-color: #ec4c4c;

.canvas-background {
  position: relative;
  height: calc(100% - 10% - 50px);
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, $canvas-bg-color, $canvas-bg-color-two);

  .canvas-border {
    position: relative;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, $canvas-border-color, $canvas-border-color-two);
    border-radius: 1em;
    padding: 2em;
    max-width: 100%;
    max-height: 100%;

    .slide-img {
      vertical-align: bottom;
      z-index: 0;
      display: none;
    }

    .canvas {
      background-color: $canvas-color;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}

// TOOLS PANEL
$tool-panel-bg: #315f5d;
$tool-panel-item-color: #438bab;
$tool-panel-divider: #587873;

.tool-panel {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  //background-color: $tool-panel-bg;
  background: linear-gradient(to right, #324f4d, #5f8075);

  .tool-panel-divider {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 2em;

    &:after {
      display: block;
      content: '';
      width: .15em;
      background: $tool-panel-divider;
      border-radius: 1em;
      height: 80%;
    }

  }

  .border {
    display: flex;
    border: 1px solid #555;
  }

  .tools-buttons {
    display: flex;
    justify-content: space-between;

    .tool-btn {
      padding: 0 .6em;
      width: 2em;
      height: 100%;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: center;

      svg {
        height: 2em;
        width: 100%;
        color: #beccbb;
      }

      &.salad {
        svg {
          color: #eedd79;
        }
      }

      &.red {
        svg {
          color: red;
        }
      }

      &.green {
        svg {
          color: #28a745;
        }
      }

      &:hover {
        svg {
          transform: scale(1.1);
        }
      }
    }
  }

  .time-holder {
    display: flex;
    align-items: center;
    color: #c2c1a3;
    font-size: 1.4em;
  }
}

