// TIP AREA
$tip-bg: #91a999;
$tip-color: #232323;
$tip-text-bg: #efda7f;

.tip-area {
  height: 10%;
  background-color: $tip-bg;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  .tip-text {
    background-color: $tip-text-bg;
    padding: 0;

    p {
      font-family: 'Roboto', sans-serif;
      color: $tip-color;
      margin: 0;
      padding: .5em 1.5em;
      font-size: 1.2em;
    }
  }
}

// CANVAS

.canvas {
  flex: 1;

  background-size: contain;
  background-repeat: no-repeat;
}

// TOOLS PANEL
$tool-panel-bg: #558180;

.tool-panel {
  padding: .6em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $tool-panel-bg;

  .row {
    width: 100%;
    padding: .1em;
    justify-content: space-between;
    display: flex;
    flex-direction: row;

    .border {
      display: flex;
      border: 1px solid #555;
    }

    .tool-btn {
      padding: 5px;
      width: 3em;
      height: 3em;
      cursor: pointer;

      svg {
        width: 100%;
        height: 100%;
        color: #beccbb;
      }

      &.salad {
        svg {
          color: #eedd79;
        }
      }

      &.red {
        svg {
          color: red;
        }
      }

      &.green {
        svg {
          color: #28a745;
        }
      }

      &:hover {
        svg {
          transform: scale(1.1);
        }
      }

    }
  }
}


